* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

@font-face {
    font-family: ChampionsLeague;
    src: url(../fonts/ChampionsLeague.ttf);
}

header {
    display: block;
    position: fixed;
    top: 0;
    height: 140px;
    width: 100%;
}

.wrapper {
    background-color: #cae4fc;
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.container {
  width: 75%;
  margin: 0 auto;
  
}

.logo {
    float: left;
}

.logo img {
    height: 95px;
    vertical-align: middle;
}

.brand-name {
    font-family: ChampionsLeague;
    font-size: 4vw;
    color: #26008f;
}

.navigation {
    clear: both;
    width: 100%;
    margin: auto;
    height: 40px;
    background-color: #4495e0;
}

.navigation ul {
    list-style-type: none;
    height: inherit;
    line-height: 40px;
    width: 75%;
    margin: auto;
}

.navigation li {
    height: inherit;
    float: left;
}

.navigation li a {
    height: inherit;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    padding: 0 20px 0 20px;
    color: rgb(255, 255, 255);
    font-family: ChampionsLeague;
}

.navigation li a:hover {
    background-color: lightblue;
    color: #003d75;
}

main {
    margin-top: 148px;
    margin-bottom: 125px;
}

.news-title {
    color: #0400db;
    font-family: ChampionsLeague;
    font-size: 2vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news-post {
    width: 90%;
    margin: auto;
}

.news-content {
    text-indent: 30px;
    font-family: ChampionsLeague;
    color: #010050;
    font-size: 1.25vw;
}

.news-img {
    max-width: 50%;
    float: left;
    margin: 0 30px 20px 0;
    box-shadow: 10px 10px 20px #010050;
}

@supports (height: 100vh) {
    body{
     background: linear-gradient(to right top, rgb(68, 0, 255) 50%, #a9daff 50%);
     background-size: 100% calc(100% - 100vh + 148px);
     background-repeat: no-repeat;
    }
  
    body:before{
     content:'';
     position: fixed;
     top: 148px;
     bottom: 0;
     width: 100%;
     z-index: -1;
     background: white;
    }
  }

footer {
    margin-top: 100px;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, #91caff, #0018ed);
    text-align: end;
    line-height: 75px;
}

.accrodion {  
    width: 60%;
    margin: auto;
    height: 240px;
    margin-top: 30px;
    margin-bottom: 30px;
}


ul.accrodion-list {
    display: flex;
    justify-content: center;
}

ul.accrodion-list li {
   width: 70px;
   overflow: hidden;
   padding: 1px 1px 0;
}

.accrodion li {
    list-style-type: none;
    width: 20%;
    transition: all 1.5s;
}

.accrodion-item {
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

.accrodion-item img{
    width: 80%;
    justify-content: center;
}

.accrodion-item p {
    font-family: ChampionsLeague;
    font-size: 1.2vw;
    color: #26008f;
}

ul.accrodion-list li:hover {
    width: 200px;
    transition: all 1s;
}

.accrodion-title {
    text-align: center;
    font-family: ChampionsLeague;
    font-size: 2vw;
    color: #26008f;
}

.accrodion-list li:first-child {
    background: linear-gradient(to left,rgb(160, 178, 255), #91caff );
}

.accrodion-list li:nth-child(2){
    background: linear-gradient(to left,rgb(189, 223, 255), #0d73d3 );
}

.accrodion-list li:nth-child(3){
    background: linear-gradient(to left,rgb(233, 255, 153), #eeff00 );
}

.accrodion-list li:nth-child(4){
    background: linear-gradient(to left,rgb(255, 170, 170), #ff0000 );
}

.accrodion-list li:nth-child(5){
    background: linear-gradient(to left,rgb(131, 255, 141), #14d30d );
}

.accrodion-list li:last-child {
    background: linear-gradient(to left,rgb(224, 144, 255), #9900ff );

}

.forma {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    height: 450px;
    background-image: url("../images/form_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px #0018ed solid;
    border-radius: 20px;
    box-shadow: 0 -5px 5px 0 #4557ff;
    text-align: center;
}


.copy-right {
    font-family: ChampionsLeague;
    font-size: 1.2vw;
    color: white;
}

.options {
    margin-top: 30px;
    color: #fff;
    font-family: ChampionsLeague;
    font-size: 1.3vw;
}

.forma input {
    margin-left: 20px;
    width: 50%;
    height: 30px;
    font-size: 1.1vw;
    color: #010050;
}


.buttons {
    margin-top: 30px;
}

button {
    background-color: #3628ff;
    color: #fff;
    font-family: ChampionsLeague;
    font-size: 1.2vw;
    border: 2px #a9daff solid;
    padding: 10px;
    margin: 0px 30px 0px 30px;
    width: 20%;
}

button:hover, button:active{
    background-color: #fff;
    color: #3628ff;
    font-family: ChampionsLeague;
    border: 2px #26008f solid;
    border-radius: 50%;
} 

.options input:invalid {
    border: red 5px dashed;
}

#slider { 
	text-align: center;
}

#slider{ 
	margin: 0 auto;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .image{ 
	width: 500%;
	line-height: 0;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article img{ 
	width: 100%;
}

#desktop:checked ~ #slider{ 
	max-width: 960px; 
}

#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('../images/prev.png') no-repeat; 
	float: left;
	margin: 0 0 0 -84px; 
	display: block;
	height: 68px;
	width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('../images/next.png') no-repeat; 
	float: right;
	margin: 0 -84px 0 0; 
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ 
	cursor: pointer;
}

.photo-galery input{ 
	display: none;
}

.photo-galery {
    padding-top: 30px;
}

#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ 
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{
	border-radius: 10px;
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ 
	margin: 23px 0 0;
	text-align: center;
}

#active label:hover{ 
	background: #76c8ff;
	border-color: #777 !important;
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
	opacity: 0.6;
}

#controls label{ 
	transition: opacity 0.2s ease-out;
}